<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting</title>
    <script src="script.js"></script>
</head>
<body>
    Let's Start

    <script>
        console.log("<%= roomId %>")
    </script>
</body>
</html>